<html>
    <head><title>
        Welcome...
    </title></head>

    <body style="background-image: linear-gradient(to right, rgb(58, 54, 54) , white); padding-top: 10%; color: purple;">
        <form style="text-align: center;  border-width: 5px; border-style: groove; padding-top: 10px; padding-bottom: 10px;" action="http://127.0.0.1:5000/chat" method="GET">
        <p>Hello, I am Cliste Cara, a virtual chatbot, can you please tell me your name?
        </p>
        <br />
        <br />
        <input type="text" name="name" id="name" placeholder="Enter your name here...">
        <input type="submit" value="Send">
        </form>
    </body>
</html>