<html>
    <head><title>
        Welcome...
    </title></head>

    <body style="background-image: linear-gradient(to right, rgb(58, 54, 54) , white); padding-top: 10%; color: purple;">
        <form style="text-align: center;  border-width: 5px; border-style: groove; padding-top: 10px; padding-bottom: 10px;" action="http://127.0.0.1:5000/chat">
        <p>{% for i in msg %}
            {{ i }}<br />
            {% endfor %}
        </p>
        <br />
        <br />
        <input type="text" name="msg" id="msg" placeholder="Enter your question here...">
        <input type="submit" value="Send">
        </form>
    </body>
</html>